@import "/ui/util";

.stats {
  .window(#fff, #fff, darken(#fff, 50%));

  position: absolute;
  left: 16px;
  top: 16px;

  padding: 2px 4px;

  .content {
    display: flex;
    flex-direction: row;
    background: transparent;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 12px;
  }

  .heading {
    padding: 0;
    background: none;
  }

  .health {
    position: relative;
    padding: 2px;
    width: 200px;

    background: #fff;
    border-radius: 2px;

    .value {
      height: 16px;
      transition: width 0.1s;

      background: #f55;
      border-radius: 2px;
    }

    .caption {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 12px;
      color: #faa;
      text-shadow: 0 1px 0 darken(#faa, 30%);
    }
  }
}
